body {
  font-family: Arial, sans-serif;
  padding: 20px;
}
.carte {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 220px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.carte img {
  width: 100%;
  height: 120px;
  border-radius: 8px;
}


input, button {
  margin: 5px;
  padding: 8px;
    }